body {
    background-color: rgb(96, 129, 89);
    color: rgb(255, 255, 255);
    font-family: 'Courier New';
    font-size: 1.05rem;
  }

.main-content{
    display: flex;
}

.dg-box{
    background-color: rgb(46, 65, 42);
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 50%;
    height: 700px;
    margin: 10px;
}

@media (max-width: 600px) {
    .main-content {
        display: block;
    }

    .dg-box {
        width: 90%;
        height: 700px;
    }
}